data/
temp/
dist/
__pycache__/
result/
./tutorial*.ipynb
*.zip
*labels/
*.pdf
pyproject.toml
test_files/
docs/build/
src/*egg*
protocol.md
genesets
*.csv
core
result_old/
tutorial_*.ipynb
*.tar
!dogma_demo_labels.zip
!wnn_demo_labels.zip