bin
dataset
pyproject.toml
requirements.txt
dist
tests
logs/
src/scmidas.egg-info
docs/build
saved_models
predict
src/scmidas/__pycache__
src/scmidas/lightning_logs
src/scmidas/figs
src/scmidas/connect
scr/scmidas/pyWNN.py
!docs/source/requirements.txt
processed
proccess
src/figs
src/saved_models
src/lightning_logs
*copy*
*tar*
src/*.csv
src/test_data.py
.gitignore
src/Rplots.pdf
src/fxl.py
docs/source/tutorials/basics/inputs-1.rst
src/run_all_data.sh
lightning_logs
figs