sphinx
sphinx-rtd-theme
recommonmark
sphinx_markdown_tables
docutils==0.16
nbsphinx
toml
tqdm==4.66.1
numpy==1.26.3
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
matplotlib==3.8.2
pandas==1.5.3
scikit-learn==1.3.2
scikit-misc==0.3.1
scanpy
scib