sphinx
sphinx-rtd-theme
recommonmark
sphinx_markdown_tables
docutils==0.16
nbsphinx
toml
tqdm==4.66.1
numpy==1.26.3
torch==2.3.1
matplotlib==3.9.0
pandas==2.2.2
scikit-learn==1.5.1
scikit-misc==0.3.1
scanpy==1.10.2
scib==1.1.5